<div fxLayout="column" fxLayoutGap="5%" fxLayoutGap.xs="10%" >
  <div fxFlex=10% fxLayoutAlign="start center" style="background-color: #fb0">
    <div style="margin:2%">Advanced Pack Details</div>
  </div>
  <div>
    <mat-tab-group > 
      <mat-tab label="First" class="tab"> 
        <div fxLayout="column">
          <div>
        haghjxgdhjg dakjhfkjdhfkjd kjdhfkjhdfjk kjdhafkjadhf jkahdfkjadhf
      adfgahjkdgf kjadfhgkajdhf kjahfjkahf kjlahdfjkahf 
      </div>
      <div fxLayout="row" style="border:2px solid black">
        <div fxLayoutAlign="start"><button mat-raised-button>remove</button></div>
        <button mat-raised-button style="float:right">proceed to checkout</button>
      </div>
      </div>
     </mat-tab>
      <mat-tab label="Second" class="tab"> Content 2 </mat-tab>
      <mat-tab label="Third" class="tab"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
  </div>