.belowcard{
    background-color:rgb(158, 158, 158) ;width:146px;height:220px
}
// .belowcard:hover{
//      background-color:#fb0 ;width:146px;height:240px;
//      box-shadow: 10px 10px 10px rgb(243, 240, 240)!important;
//      .aboveCard:hover{
//     width:140px;height:220px;margin-left: -38px;margin-top: -39px!important;
// }
// }
.divC:hover{
.belowcard{
     background-color:#fb0 ;width:146px;height:240px;
     box-shadow: 10px 10px 10px rgb(243, 240, 240)!important;
}
     .aboveCard{
    width:140px;height:220px;margin-left: -38px;margin-top: -39px!important;
}
}
.aboveCard{
    width:140px;height:200px;margin-left: -38px;margin-top: -39px!important;
}

.aboveCardSelected{
    width:140px;height:220px;margin-left: -38px;margin-top: -39px!important;
}
.belowCardXS{
    font-size:15px;background-color: rgb(158, 158, 158);width:100px;height:145px
}
.aboveCardXS{
    font-size: 10px;
    
    width:90px;height:120px;margin-left: -20px;margin-top: -32px!important;
}
.selectedbelow{
     background-color:#fb0 ;width:146px;height:240px;
     box-shadow: 10px 10px 10px rgb(243, 240, 240)!important;
}