@import '../../../scss/mixin.scss';
:host::ng-deep.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    border-radius: 2px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: scroll;
    outline: 0;
    width: 550px;
    max-height: 400px;
    min-height: 200px;
    border-radius: 10px;
    padding: 10px
}
.div{
 width: 550px;
    max-height: 400px;
    min-height: 200px;
     padding: 10px
}
.input{
  @include inputOutline;
    
}
.addicon{
    @include circularDiv;
}
.paddingTop{
    @include padding(3%,0,0,0)
   }
.paddingLeft{
    @include padding(0,0,5%,0)
}
