@import '../../../scss/mixin.scss';

$color-yellow:#ffff66;
$color-pink:#ffffff;
$color-blue:#90ee90;
$color-green:#f66ef6;
$color-red:#f08080;
$color-Skyblue:#05f6f6;
$color-grey:#ffb6c1;
$color-greenish:#add8e6;
$color-purple:#e6a9a9;
$color-indigo:#ffff81;
$color-orange:#a9a9d6;
$color-violet:#d9d9d9;
.color1{
      @include  color-generator($color-pink);
}
.color2{
      @include  color-generator($color-blue);
}
.color3{
      @include  color-generator($color-green);
}
.color4{
      @include  color-generator($color-red);
}
.color5{
       @include  color-generator($color-Skyblue);
}
.color6{
      @include  color-generator($color-grey);
}
.color7{
      @include  color-generator($color-yellow);
}
.color8{
      @include  color-generator($color-greenish);

}
.color9{
          @include  color-generator($color-purple);

}
.color10{
          @include  color-generator($color-indigo);

}
.color11{
          @include  color-generator($color-orange);

}
.color12{
          @include  color-generator($color-violet);

}
.mat-mini-fab:not([class*=mat-elevation-z]) {
    width: 25px;
    height: 25px;
}
.colordiv {
    padding: 10px;
    overflow: hidden;
    width: 120px !important
}

   
