@import '../../../scss/mixin.scss';

.menupanel{
    padding:10px;
    overflow:hidden;
     width: 153px  !important
}
.mat-checkbox-inner-container {
    display: inline-block;
    height: 5px;
    line-height: 0;
    margin: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 5px;
    flex-shrink: 0;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    margin-top: 1px;
    margin-left: 1px;
    width: 12px;
    height: 12px;
}
.mat-checkbox .mat-checkbox-frame {
    border-color: black;
    background-color: black;
}
.searchLabel{
    border:none;
    border-color:transparent
}
input:focus{
    outline:none
}
.labelChip{
    
//   white-space:nowrap;
//   text-overflow:ellipsis;
//   overflow:hidden !important
  @include ellipsis;

}
 .chip{
    max-width:50px;
}
