<div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="10%" fxFlex.sm="12%" fxFlex.xs="5%"></div>
<div fxFlex.lg="75%" fxFlex="75%" fxFlex.md="85%" fxFlex.sm="78%" fxFlex.xs="95%" fxLayout="row wrap" fxLayoutGap="10px"
  class="maindiv">
  <!----------------------- repeating the notes with for loop ---------------------------------->

  <div *ngFor="let note of NoteArray | search:searchInput" [ngClass.xl]="{'XLFlayout':view ,'grid':!view}" [ngClass]="{'layout':view ,'grid':!view}">
    <mat-card [style.backgroundColor]="note.color" [ngClass.sm]="{'Flayoutsm':view ,'cardsm':!view}" [ngClass.xs]="{'cardxs':view ,'cardxs':!view}"
      [ngClass]="{'Flayout':view ,'card':!view}">
      <div>
        <div fxLayout="row">
          <div fxFlex=95% class="note" [innerHTML]="note.title" (click)="open(note)"></div>
          <!------------------------- pin component ------------------------------------------>
          <span fxFlex=5%>
            <app-pin [Note]=note (eventEmit)=eventDone($event)></app-pin>
          </span>
        </div>
        <!------------------------- description --------------------------------------------->
        <div class="note" [innerHTML]="note.description" (click)="open(note)"> </div>
        <!----------------------opened checklist starts ------------------------------------->
        <div class="note" *ngFor="let checklist of note.noteCheckLists" fxLayout="row">
          <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted" (click)=checkBox(checklist,note)></mat-checkbox>
          <input *ngIf="!checklist.isDeleted && checklist.status=='open' " [(ngModel)]=checklist.itemName fxFlex="90%"
            class="note" (click)="open(note)" [style.backgroundColor]="note.color">
        </div>
        <!---------------------------- opened checklist ends-------------------------------------->
        <!---------------------------closed checklist starts -------------------------------------->
        <div class="note" *ngFor="let checklist of note.noteCheckLists" fxLayout="row">
          <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close'&& !checklist.isDeleted" (click)=checkBox(checklist,note)></mat-checkbox>
          <div class="note" style="text-decoration:line-through" *ngIf="!checklist.isDeleted && checklist.status=='close'"
            (click)="open(note)">
            {{checklist.itemName}}</div>
        </div>
        <!-------------------------- closed checklist ends ------------------------------------->

        <mat-chip-list>
          <!------------------------------ reminders added to the note--------------------->
          <div *ngFor="let time of note.reminder">
            <mat-chip *ngIf="checkreminder(time)==1" (click)=reminderClicked(note)>
              <mat-icon>access_time</mat-icon>
              <div class="previous">{{time|date:"medium"}}</div>
              <div class="close">
                <mat-icon matChipRemove (click)=deleteReminder(note)>cancel</mat-icon>
              </div>
            </mat-chip>
            <mat-chip *ngIf="checkreminder(time)==3" (click)=reminderClicked(note)>
              <mat-icon>access_time</mat-icon>
              <div>{{todayDate}}</div>
              <div class="close">
                <mat-icon matChipRemove (click)=deleteReminder(note)>cancel</mat-icon>
              </div>
            </mat-chip>
            <mat-chip *ngIf="checkreminder(time)==2" (click)=reminderClicked(note)>
              <mat-icon>access_time</mat-icon>
              <div>{{time|date:"medium"}}</div>
              <div class="close">
                <mat-icon matChipRemove (click)=deleteReminder(note)>cancel</mat-icon>
              </div>
            </mat-chip>
            <mat-chip *ngIf="checkreminder(time)==4" (click)=reminderClicked(note)>
              <mat-icon>access_time</mat-icon>
              <div class="previous">{{todayDate}}</div>
              <div class="close">
                <mat-icon matChipRemove (click)=deleteReminder(note)>cancel</mat-icon>
              </div>
            </mat-chip>

          </div>
          <!--------------------------- reminders ended------------------------------------------>
          <!------------------------ labels added to the note---------------------------->
          <span *ngFor="let label of note.noteLabels">
            <mat-chip [removable]=true class="chip" *ngIf="!label.isDeleted" (click)=labelClicked(label.label)>
              <span class="labelChip">{{label.label}}</span>
              <mat-icon matChipRemove (click)=deleteLabel(note,label)>cancel</mat-icon>
            </mat-chip>
          </span>
          <!-- ----------------------------label ended-------------------------------->
          <!-------------------------- collabrators added ---------------------------->
          <div fxLayout="row wrap">
            <span *ngFor="let collab of note.collaborators" class="collabspan">
              <div *ngIf="splice(collab.firstName)" (click)=openCollab(note)>
                <button mat-mini-fab disabled style="color:black"> {{initial}}</button>
              </div>
            </span></div>
          <!------------------------- collabrator ended ------------------------------>
        </mat-chip-list>
        <!------------------------- selectors of all the icon components------------------------->
        <span fxLayout="row " fxLayoutAlign="space-around" class="icons">
          <div>
            <app-remind-me [Note]=note (eventEmit1)="reminder($event)" #remindme></app-remind-me>
          </div>
          <div>
            <app-collaborator [Note]=note (event)=eventDone($event)></app-collaborator>
          </div>
          <div>
            <app-change-color [Note]=note (eventEmitter)="eventDone($event)"></app-change-color>
          </div>
          <div>
            <app-add-image [Note]=note></app-add-image>
          </div>
          <div>
            <app-archive [Note]=note (eventEmit)="eventDone($event)"></app-archive>
          </div>
          <div>
            <app-more [Note]=note (eventEmit)="eventDone($event)"></app-more>
          </div>
         
        </span>
      </div>
      <div *ngIf="checkquestions(note)">
        <hr>
        <div>Question Asked</div>
        <div [innerHTML]=question></div>

      </div>
    </mat-card>
  </div>
</div>
<div fxFlex="5%" fxFlex.lg="5%" fxFlex.md="5%" fxFlex.sm="5%" fxFlex.xs="5%"></div>