@import '../../../scss/mixin.scss';

.icons{
    opacity: 0;
    padding-top: 15px
}
.icons:hover{
    opacity:1;
    padding-top: 15px
}
.close{
     opacity: 0;
}
.close:hover{
    opacity:1;
}
.note{
 word-wrap: break-word;
 width:120px
 }
.maindiv{
       flex-wrap: wrap;
}

.note{
    @include note;
//   width: 100%;
//   height: auto;
//   border:none;
//   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//   outline: none
}
.card{
    margin:1%;
    height:min-content;border-radius:10px;width:210px;
    
}
.addicon{
    @include circularDiv;
}
.chip{
    padding-top: 10px;
    
}
.layout{
    width:750px
}
.Flayout{
    margin:1%;
    height:min-content;border-radius:10px;
    width:100%
}
.Flayoutsm{
    margin:1%;
    height:min-content;border-radius:10px;
    width:90%
}
// .grid{
// // width 

// }
.previous{
    text-decoration: line-through
}
.labelChip{
      @include ellipsis;
}
 .chip{
    max-width:150px;
}
.cardsm{
     padding:1%;
    height:min-content;border-radius:10px;width:500px;
    
}
.XLFlayout{
    
    width:1500px
}
.cardxs{
    width:100%;
    margin-left:1%;
  
}