@import '../../../scss/mixin.scss';
.icons{
    opacity: 0;
    padding-top: 15px
}
.icons:hover{
    opacity:1;
    padding-top: 15px
}
.close{
     opacity: 0;
}
.close:hover{
    opacity:1;
}
.note{
 word-wrap: break-word;
 width:120px
 }
.maindiv{
       flex-wrap: wrap;
}

.note{
    @include note;
}
.card{
    margin:1%;
    height:min-content;border-radius:10px;width:200px;
    
}
.addicon{
    @include circularDiv;
}
.chip{
    padding-top: 10px;
    
}
.layout{
    width:750px
}
.Flayout{
    margin:1%;
    height:min-content;border-radius:10px;
    width:100%
}
.Flayoutsm{
    margin:1%;
    height:min-content;border-radius:10px;
    width:90%
}
.previous{
    text-decoration: line-through
}
.labelChip{
      @include ellipsis;
}
 .chip{
    max-width:150px;
}
.cardsm{
    margin:1%;
    height:min-content;border-radius:10px;width:450px;
    
}
.XLFlayout{
    
    width:1500px
}
.cardxs{
    margin-bottom:1%;
    // width:600px
  
  }
    .collabButton{
    margin:3%;
    color:black
}

  
 @media only screen and (min-width: 570px) and (max-width: 599px)
{
  .cardxs
{
  width:500px;
}
}
@media only screen and (min-width: 540px) and (max-width: 569px)
{
  .cardxs
{
 
  width:450px;
}
}
@media only screen and (min-width: 500px) and (max-width: 539px)
{
  .cardxs
{
 
  width:430px;
}
}
@media only screen and (min-width: 445px) and (max-width: 499px)
{
  .cardxs
{
 
  width:380px;
}
}
@media only screen and (min-width: 430px) and (max-width: 444px)
{
  .cardxs
{
  
  width:370px;
}
}
@media only screen and (min-width: 390px) and (max-width: 429px)
{
  .cardxs
{
border:2px solid red;
  width:350px;
}
}
@media only screen and (min-width: 320px) and (max-width: 369px)
{
  .cardxs
{
border:2px solid red;

  width:270px;
}
}
@media only screen and (min-width: 370px) and (max-width: 391px)
{
  .cardxs
{
border:2px solid red;

  width:320px;
}
}

@media only screen and (min-width: 600px) and (max-width: 621px)
{
  .cardsm
{
  width:420px;
  border:2px solid red;

}
}
 @media only screen and (min-width: 621px) and (max-width: 640px)
{
  .cardsm
{
  width:450px;
}
}
 @media only screen and (min-width: 641px) and (max-width: 655px)
{
  .cardsm
{
  width:470px;
}
}
 @media only screen and (min-width: 656px) and (max-width: 670px)
{
  .cardsm
{
  width:480px;
}
}
@media only screen and (min-width: 671px) and (max-width: 685px)
{
  .cardsm
{
  width:490px;
}
}
@media only screen and (min-width: 686px) and (max-width: 700px)
{
  .cardsm
{
  width:500px;
}
}
@media only screen and (min-width: 701px) and (max-width: 752px)
{
  .cardsm
{
  width:520px;
}
}
@media only screen and (min-width: 753px) and (max-width: 800px)
{
  .cardsm
{
  width:530px;
}
}
@media only screen and (min-width: 801px) and (max-width: 850px)
{
  .cardsm
{
  width:550px;
}
}
@media only screen and (min-width: 851px) and (max-width: 900px)
{
  .cardsm
{
  width:570px;
}
}
@media only screen and (min-width: 901px) and (max-width: 959px)
{
  .cardsm
{
  width:580px;
}
}