.icons{
    opacity: 0;
    padding-top: 15px
}
.icons:hover{
    opacity:1;
    padding-top: 15px
}
.close{
     opacity: 0;
}
.close:hover{
    opacity:1;
}
.note{
 word-wrap: break-word;
 width:120px
 }
.maindiv{
       flex-wrap: wrap;
    //    padding-bottom: 15%;
}
.material-icons {
    cursor: pointer;
    opacity: 0.5;
}

.note{
  width: 100%;
  height: auto;
  border:none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  outline: none
}
.card{
    margin:1%;
    height:min-content;border-radius:10px;width:210px;
    
}
.chip{
    padding-top: 10px;
    
}
.layout{
    width:750px
}
.Flayout{
    margin:1%;
    height:min-content;border-radius:10px;
    // margin-top:5px;
    width:100%
}
.grid{
// width 

}
.previous{
    text-decoration: line-through
}
.labelChip{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden !important
}
 .chip{
    max-width:150px;
}
.cardsm{
     padding:1%;
    height:min-content;border-radius:10px;width:350px;
    
}
.XLFlayout{
    
    width:1500px
}