@import '../../../scss/mixin.scss';
.note{
    @include note;
}

[contenteditable=true]:empty:not(:focus):before{
    content: attr(placeholder);
    display: block;
    opacity:0.5;
}
.username{
    font-size:10px;
    font-weight: lighter
}
.svg{
    
    width:20px;
    height:20px;
}
.Qbutton{
    float: right;
}
.icon_button{
    opacity: 1
}
.reply{
    border-bottom:2px solid grey;
    outline:none;
        margin-bottom: 1%;

}
.margin{
    margin-top: 15px
}
.fa-star-o{
    color:black
}
.fa-star{
    color:yellow
}
.wrap{
 word-wrap: break-word;
 width:120px
 }
 .firstReply{
     margin-left:5%;
     font-size:15px;
 }
 .secondReply{
     margin-left:10%; font-size:15px
 }
 .thirdReply{
     margin-left:15%;
     font-size:15px
 }
 
 ::ng-deep.br-default .br-unit {
    margin-right: 15px;
    margin-top: -13px;
    
    height: 4px;
    width: 4px;
}

 .questionsDiv{
     overflow-y:auto;padding-bottom:10%
 }
 .cardDiv{
     overflow-y:auto
 }