<div fxLayout="row" fxLayoutAlign="center" style="border:2px solid black">

  <div fxFlex.xl="1500px" fxFlex.lg="900px" fxFlex.md="500px" fxFlex.sm="600px" fxFlex.xs="220px"  style="border:2px solid pink">

    <div>
      <button mat-button (click)=closeQandA() class="Qbutton">close</button>
      <div fxLayout="column" fxLayoutGap="10px">
        <div [innerHTML]=title></div>
        <div [innerHTML]=description></div>
      </div>
      <div class="note" *ngFor="let checklist of checklist" fxLayout="row">
        <mat-checkbox fxFlex.xl="5%" fxFlex.lg="5%" fxFlex.md="5%" fxFlex.sm="5%" fxFlex.xs="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted"
          (click)=checkBox(checklist,note)></mat-checkbox>
        <input *ngIf="!checklist.isDeleted && checklist.status=='open' " [(ngModel)]=checklist.itemName fxFlex="95%"
          class="note">
      </div>
      <hr>
    </div>


    <!---------------------------------------------- first Question----------------------------------------------------------- -->

    <div *ngIf="!questionStatus">
      <div>Ask a Question</div>
      <div contenteditable="true" placeholder="enter question" class="note" (keydown)=addQuestion($event) #question></div>
    </div>
    <div *ngIf="questionStatus" style="overflow-y:auto;padding-bottom:10%">
      <div fxLayout="row" fxLayoutAlign="start ">
        <div fxFlex.xl="80" fxFlex.lg="70" fxFlex.md="60" fxFlex.sm="60" fxFlex.xs="40"
        style="border:2px solid red" *ngIf="imageFormation(question[0])" fxLayout="row">
          <button mat-mini-fab disabled [ngStyle]="{'background-image':'url(' +imagpath+ ')','background-size':'cover'}"></button>
        
        <div fxLayout="column" >
          <span class="username">{{question[0].user.firstName}}</span>
          <div [innerHTML]=question[0].message></div>
        </div>
        </div>
        <div  fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="40" fxFlex.sm="40" fxFlex.xs="60" fxLayout="row">
          <div> <button mat-icon-button class="icon_button" (click)=reply(question[0])>
              <img src="../../../assets/reply.svg" class="svg">
            </button></div>
          <div *ngIf="isliked(question[0])"> <button mat-icon-button class="icon_button">
              <img src="../../../assets/like.svg" class="svg" *ngIf="!liked" (click)=like(question[0],true)>
              <img src="../../../assets/liked.svg" class="svg" *ngIf="liked" (click)=like(question[0],false)>
            </button></div>

          <div *ngIf="likeDisplay(question[0])"><span class="username">{{lykC}}</span></div>

          <div *ngIf="ratingDisp(question[0])" fxLayout="row">
            <bar-rating (rateChange)="rating1($event,question[0])" [(rate)]="userRating" [max]="5" class="barrating"></bar-rating>
            <span class="username">{{rateDisp}}</span>
          </div>
        </div>
      </div>
      <div *ngIf="isReply && replyObj.id==question[0].id" fxLayout="row">
        <div contenteditable="true" placeholder="enter reply" class="reply" fxFlex="95%" #reply></div>
        <button mat-icon-button (click)=sendReply()>
          <mat-icon>send</mat-icon>
        </button>
      </div>

      <!----------------------------------------- first reply ------------------------------------------------->



      <div *ngFor="let r of replies">
        <div fxLayout="column" class="firstReply">
          <div fxFlex.xl="5%" fxFlex.lg="70" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="5%" *ngIf="imageFormation(r)" fxLayout="row">
            <button mat-mini-fab disabled [ngStyle]="{'background-image':'url(' +imagpath+ ')','background-size':'cover'}"></button>
             <div  fxLayout="column">
            <span class="username">{{r.user.firstName}}</span>
            <div [innerHTML]=r.message></div>
          </div>
          </div>
          <div fxFlex.xl="20%" fxFlex.lg="30" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="5%" fxLayout="row" fxLayoutAlign="end">
            <div> <button mat-icon-button class="icon_button" (click)=reply(r)>
                <img src="../../../assets/reply.svg" class="svg">
              </button></div>
            <div *ngIf="isliked(r)"> <button mat-icon-button class="icon_button">
                <img src="../../../assets/like.svg" class="svg" *ngIf="!liked" (click)=like(r,true)>
                <img src="../../../assets/liked.svg" class="svg" *ngIf="liked" (click)=like(r,false)>
              </button></div>
            <div *ngIf="likeDisplay(r)"><span class="username">{{lykC}}</span></div>

            <div *ngIf="ratingDisp(r)" fxLayout="row">
              <bar-rating (rateChange)="rating1($event,r)" [(rate)]="userRating" [max]="5"></bar-rating>
              <span class="username">{{rateDisp}}</span>

            </div>
          </div>
        </div>
        <div *ngIf="isReply && replyObj.id==r.id" fxLayout="row" class="firstReply">
          <div contenteditable="true" placeholder="enter reply" class="reply" fxFlex="95%" #reply></div>
          <button mat-icon-button (click)=sendReply()>
            <mat-icon>send</mat-icon>
          </button>
        </div>
        <!------------------------------------- second reply --------------------------------------------------->
        <div *ngIf="hasReply(r)">

          <div class="question_div" *ngFor="let red of rX">
            <div fxLayout="column" class="secondReply">
              <div fxLayout="row" fxFlex.xl="5%" fxFlex.lg="70" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="5%" *ngIf="imageFormation(red)">
                <button mat-mini-fab disabled [ngStyle]="{'background-image':'url(' +imagpath+ ')','background-size':'cover'}"></button>
                  <div  fxLayout="column">
                <span class="username">{{red.user.firstName}}</span>
                <div [innerHTML]=red.message></div>
              </div>
              </div>
              <div fxFlex.xl="20%" fxFlex.lg="30" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="5%" fxLayoutAlign="end" fxLayout="row">
                <div> <button mat-icon-button class="icon_button" (click)=reply(red)>
                    <img src="../../../assets/reply.svg" class="svg">
                  </button></div>
                <div *ngIf="isliked(red)"> <button mat-icon-button class="icon_button">
                    <img src="../../../assets/like.svg" class="svg" *ngIf="!liked" (click)=like(red,true)>
                    <img src="../../../assets/liked.svg" class="svg" *ngIf="liked" (click)=like(red,false)>
                  </button></div>
                <div *ngIf="likeDisplay(red)"><span class="username">{{lykC}}</span></div>


                <div *ngIf="ratingDisp(red)" fxLayout="row">
                  <bar-rating (rateChange)="rating1($event,red)" [(rate)]="userRating" [max]="5"></bar-rating>
                  <span class="username">{{rateDisp}}</span>

                </div>
              </div>
            </div>
            <div *ngIf="isReply && replyObj.id==red.id" fxLayout="row" class="secondReply">
              <div contenteditable="true" placeholder="enter reply" class="reply" fxFlex="95%" #reply></div>
              <button mat-icon-button (click)=sendReply()>
                <mat-icon>send</mat-icon>
              </button>
            </div>
            <!------------------------------------ third reply ------------------------------------------------------>
            <div *ngIf="hasReplysecnd(red)">

              <div class="question_div" *ngFor="let green of rZ">
                <div fxLayout="column" class="thirdReply">
                  <div fxLayout="row" fxFlex.xl="5%" fxFlex.lg="5" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="5%" *ngIf="imageFormation(green)">
                    <button mat-mini-fab disabled [ngStyle]="{'background-image':'url(' +imagpath+ ')','background-size':'cover'}"></button>
                  
                  <div  fxLayout="column">
                    <span class="username">{{green.user.firstName}}</span>
                    <div [innerHTML]=green.message></div>
                  </div>
                  </div>
                  <div fxLayoutAlign="end" fxFlex.xl="20%" fxFlex.lg="25" fxFlex.md="10%" fxFlex.sm="5%" fxFlex.xs="5%" fxLayout="row">
                    <div *ngIf="isliked(green)"> <button mat-icon-button class="icon_button">
                        <img src="../../../assets/like.svg" class="svg" *ngIf="!liked" (click)=like(green,true)>
                        <img src="../../../assets/liked.svg" class="svg" *ngIf="liked" (click)=like(green,false)>
                      </button></div>
                    <div *ngIf="likeDisplay(red)"><span class="username">{{green.like.length}}</span></div>

                    <div *ngIf="ratingDisp(green)" fxLayout="row">
                      <bar-rating (rateChange)="rating1($event,green)" [(rate)]="userRating" [max]="5"></bar-rating>
                      <span class="username">{{rateDisp}}</span>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>