@import '../../../scss/mixin.scss';

.card{
    height:auto;
    width:550px
}
.note{
@include note
}
.paddingTop{
    @include padding(3%,0,0,0)
   }
.paddingLeft{
    @include padding(0,0,5%,0)
}
.take_notes{
    width: 80%;
     @include padding(2px,2px,2px,2px)
}
.matContent{
    @include padding(2px,2px,2px,2px)
}
[contenteditable=true]:empty:not(:focus):before{
    content: attr(placeholder);
    display: block;
    opacity:0.5;
}
.icondiv{
    @include padding(15px,0,0,0)
}


.labelChip{
      @include ellipsis;

}
 .chip{
    max-width:150px;
}
.input
{
  @include  inputOutline
}
.addicon{
    @include circularDiv;
}