@import '../../../scss/mixin.scss';

.card{
    height:auto;
    width:550px
}
.note{
    width: 100%;
  height: auto;
  border:none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  overflow: break-word;
  outline: none

}


.take_notes{
    width: 80%;
     padding: 2px 2px 2px 2px;
}
.matContent{
    padding: 2px 2px 2px 2px;
}
[contenteditable=true]:empty:not(:focus):before{
    content: attr(placeholder);
    display: block;
    opacity:0.5;
}
.icondiv{
    padding-top: 15px
}


.labelChip{
      @include ellipsis;

//   white-space:nowrap;
//   text-overflow:ellipsis;
//   overflow:hidden !important
}
 .chip{
    max-width:150px;
    
 
}