@import '../../../scss/mixin.scss';

.card{
    height:auto;
    width:550px;
    border-radius:7px;
    position: relative;
    padding: 5px;
}
.note{
@include note
}
.paddingTop{
    @include padding(3%,0,0,0)
   }
.paddingLeft{
    @include padding(0,0,5%,0)
}
.take_notes{
    width: 80%;
     @include padding(2px,2px,2px,2px)
}
.matContent{
    @include padding(2px,2px,2px,2px)
}
[contenteditable=true]:empty:not(:focus):before{
    content: attr(placeholder);
    display: block;
    opacity:0.5;
}
.icondiv{
    @include padding(15px,0,0,0)
}


.labelChip{
      @include ellipsis;

}
 .chip{
    max-width:100%;
}
.input
{
  @include  inputOutline
}
.addicon{
    @include circularDiv;
}
@media only screen and (min-width: 435px) and (max-width: 505px)
{
  .card
{
 
  width:420px;
}
}
@media only screen and (min-width: 506px) and (max-width: 590px)
{
      .card
{
 
  width:410px;
}
}
@media only screen and (min-width: 391px) and (max-width: 434px)
{
  .card
{
 
  width:380px;
}
}
@media only screen and (min-width: 391px) and (max-width: 434px)
{
  .card
{
  
  width:380px;
}
}
@media only screen and (min-width: 349px) and (max-width: 390px)
{
  .card
{

  width:330px;
}
}
@media only screen and (min-width: 310px) and (max-width: 348px)
{
  .card
{
 
  width:300px;
}
}