@import '../../../scss/mixin.scss';

[contenteditable=true]:empty:not(:focus):before{
    content: attr(placeholder);
    display: block;
    opacity:0.5;
}

.note{

@include note
}
.icons{
    margin:2px
}
.input
{
  @include  inputOutline
}
:host::ng-deep.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    /* padding: 24px; */
    border-radius: 2px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: auto;
    outline: 0;
     width: 650px;
    height: 450px;
    border-radius: 10px;
    padding: 0px;
}

.my-dialog{
    transform: none;
    opacity: 1;
    padding:0px;
    border-radius: 0px
}
.card{
    height:auto;width:550px
}
.divicon{
    padding-top:10px
}
.clearIcon{
    opacity: 1
}
.labelChip{
      @include ellipsis;
}
 .chip{
    max-width:150px;
}
.addicon{
    @include circularDiv;
}