@mixin  color-generator($button-bg-color){
     background-color:$button-bg-color;
    margin-right: 5px;
    margin-bottom: 3px;
}
@mixin ellipsis {
  padding-left: 10px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden !important
}
@mixin inputOutline{
   outline: none;border:none;width:200px;
    padding-left: 5%;
}
@mixin padding($value-top,$value-bottom,$value-left,$value-right){
  padding-top: $value-top;
  padding-bottom: $value-bottom;
   padding-left: $value-left;
  padding-right: $value-right
}
@mixin circularDiv{
   height:30px;width:30px;border:1px solid grey; border-radius: 50%;
    text-align:center;
    @include padding(10px,0,0,0);
  
}
@mixin note{
     width: 100%;
  height: auto;
  border:none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  overflow: break-word;
  outline: none 
}
@mixin margin($value,$value2,$value3,$value4){
 margin-left:$value;
 margin-right:$value2;
 margin-top:$value3;
 margin-bottom:$value4;
}